.git
.github
.idea
.vscode
.junie
.agents
.claude
.codex

node_modules
vendor

.env
.env.*
!.env.example

tests
phpunit.xml
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
database/database.sqlite
database/database.sqlite-journal

public/build
public/hot

*.md
Dockerfile
.dockerignore
docker-compose.yml
docker/*

.editorconfig
.gitattributes
.gitignore
.prettierignore
.prettierrc
eslint.config.js
